<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
     
     <h1>SignIn Form</h1>

    <form action="/signcheck/" method="post">
        {% csrf_token %}
    <input type="email" placeholder="Enter Your Email:" name="username">
    <br><br>
    <input type="password" placeholder="Enter Password:" name="password">
    <br><br>
    <button class="btn btn-primary">SignIn</button>

    </form>
</body>
</html>